
.vs/Gamificacion_API/DesignTimeBuild/.dtbcache.v2
.vs/Gamificacion_API/DesignTimeBuild/.dtbcache.v2
.vs/Gamificacion_API/FileContentIndex/0ca4e046-345f-479f-a147-dc06032a2f2a.vsidx
.vs/Gamificacion_API/FileContentIndex/685af3c1-60ab-4365-b3b0-d787c941d435.vsidx
.vs/Gamificacion_API/DesignTimeBuild/.dtbcache.v2
.vs/Gamificacion_API/FileContentIndex/8912a034-d08d-440b-a92b-301991e7fee2.vsidx
Gamificacion_API/bin/Debug/net6.0/Gamificacion_API.dll
